<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.appliedresources.are-rx-deliver"
        version   = "2.0.0">
    <name>ARE.RX Deliver</name>

    <description>
        Marks packages as delivered in the ARE Receiving application.
    </description>

    <author href="http://appliedresources.com" email="support@appliedresources.com">
        Applied Resources Engineering
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

    <feature name="http://api.phonegap.com/1.0/device" />

    <access origin="*" />

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="icon.png" />
    
</widget>
